.App {
  text-align: center;
  background-color: #fffb97; 
}

.title {
  text-align: center;
  font-family: 'Balsamiq Sans';
  color: #C454EC;
  padding: 0.5%;
  font-size: 20px;
}

.albums {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2%;

}

.playlist {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  padding: 2%;

}

.layout-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.filters-sorting {
  margin: 3%;
  width: 45%;
}

.color-nav {
  background-color: #C454EC;
  border-radius: 50px;
}

#collasible-nav-dropdown {
  font-weight: bold;
}

#filtering-navbar {
  font-weight: bold;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 450px) { /* mobile size */

  .albums {
    display: grid;
    grid-template-columns: 1fr;
    padding: 5%;
  
  }
  
  .playlist {
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: repeat(12, 1fr);
    padding: 2%;
  
  }
  
  .layout-container {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }

  .filters-sorting {
    margin: 3%;
    width: 90%;
  }

}
